<div id = "mainArea" class = "commonArea">
    <!-- Title area starts here ----------------------------------->
    <div class = "titleArea" >
        <div class = "pageTitle">
            <h1 class="md-display-3">Product Add</h1>
        </div>
        <div class = "buttonArea">
            <button mat-raised-button color="primary">Save</button>
            <button mat-raised-button color="primary" (click)="backToList()">Cancel</button>
        </div>
    </div>
    <!-- Title area ends here ---------------------------------------> 
    <!-- Content area starts here -----------------------------------> 
    <div class = "contentArea" id="contentArea">
        <form #product_form = "ngForm" id = "product_form">
            <br><br>
            <mat-form-field class="form-field-style" appearance="fill">
                <mat-label>SKU</mat-label>
                <input matInput type="number" [(ngModel)] ="prodData.sku"  name = "sku" id = "sku" #sku="ngModel" style="margin-left: 10px;" >
            </mat-form-field><br>

            <mat-form-field class="form-field-style" appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput type="text" [(ngModel)] ="prodData.name"  name = "name" id = "name" #name="ngModel" style="margin-left: 10px;" >
            </mat-form-field><br>

            <mat-form-field class="form-field-style" appearance="fill">
                <mat-label>Price</mat-label>
                <input matInput type="number" [(ngModel)] ="prodData.price"  name = "price" id = "price" #price="ngModel" style="margin-left: 10px;" >
            </mat-form-field><br>

            <mat-form-field class="form-field-style" appearance="fill">
                <mat-label>Product Type</mat-label>
                <mat-select [(ngModel)] ="prodData.productType"  name = "productType" id = "productType" #productType="ngModel" style="margin-left: 10px;" (selectionChange)="typeSwitcher()" >
                  <mat-option value="dvd">DVD</mat-option>
                  <mat-option value="book">Book</mat-option>
                  <mat-option value="furniture">Furniture</mat-option>
                </mat-select>
              </mat-form-field>
            
            <div id = "DVD">
                Please Provide Size in Megabytes*<br><br>
                <mat-form-field class="form-field-style" appearance="fill">
                    <mat-label>Size (MB)</mat-label>
                    <input matInput type="number" [(ngModel)] ="prodData.size"  name = "size" id = "size" #size="ngModel" style="margin-left: 10px;" >
                </mat-form-field><br>
            </div>

            <div id = "Furniture">
                Please Provide Dimentions in H x W x L*<br><br>
                <mat-form-field class="form-field-style" appearance="fill">
                    <mat-label>Height (CM)</mat-label>
                    <input matInput type="number" [(ngModel)] ="prodData.height"  name = "height" id = "height" #height="ngModel" style="margin-left: 10px;"  >
                </mat-form-field><br>

                <mat-form-field class="form-field-style" appearance="fill">
                    <mat-label>Width (CM)</mat-label>
                    <input matInput type="number" [(ngModel)] ="prodData.width"  name = "width" id = "width" #width="ngModel" style="margin-left: 10px;"  >
                </mat-form-field><br>

                <mat-form-field class="form-field-style" appearance="fill">
                    <mat-label>Length (CM)</mat-label>
                    <input matInput type="number" [(ngModel)] ="prodData.length"  name = "length" id = "length" #length="ngModel" style="margin-left: 10px;" >
                </mat-form-field><br>
             </div>

            <div id = "Book">
                Please Provide Weight in Kilograms*<br><br>
                <mat-form-field class="form-field-style" appearance="fill">
                    <mat-label>Weight (KG)</mat-label>
                    <input matInput type="number" [(ngModel)] ="prodData.weight"  name = "weight" id = "weight" #weight="ngModel" style="margin-left: 10px;" >
                </mat-form-field><br>
            </div>
        </form>
    </div>
    <!-- Content area ends here ------------------------------------> 
    <!-- Footer area starts here -----------------------------------> 
    <div class = "footerArea" id="footer">
        <p>Scandyweb Test Assignment</p>
    </div>
    <!-- Footer area ends here -------------------------------------dev>
</div>
